{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-3xl font-bold text-gray-800 mb-6">
        Edit Product
    </h1>
    {{include('product/_form.html.twig', {'button_label': 'Update'})}}

</div>
{% endblock %}