{% extends 'base.html.twig' %}

{% block body %}
<h1>Delete blog</h1>
<p>are you sure you want to delete???</p>
<form method="post">

    <button>yes</button>

    <a href="{{ path('show_blog',{'id': id}) }}">NO</a>

</form>
{% endblock %}